@use '../../styles/variables.module.scss' as v;

@mixin flexAbs {
    display: flex;
    position: absolute;
}

.Container {
    @include flexAbs;
    top: 0;
    height: 100vh;
    width: calc(100% - 170px);
}

.Scene {
    @include flexAbs;
    top: 20%;
    right: 120px;
    width: 200px;
    height: 200px;
    perspective: 2000px;
}

.Hidden {
    visibility: hidden;
}

.Cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(20deg) rotateX(60deg) rotateZ(-5deg);
    div {
        @include v.flexCenter;
        position: absolute;
        width: 200px;
        height: 200px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.418);
        background: v.$box_background_ver;
    }
    p {
        position: absolute;
        display: flex;
        width: 100%;
        height: 50px;
        font-size: 2.5em;
        margin-left: 50px;
        opacity: 0;
        transform: rotateY(90deg);
        color: gray;
        &:nth-child(1) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 3.8s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate HTML_animation ease-in 3.8s;
        }
        &:nth-child(2) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 4s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate CSS_animation ease-in 4s;
        }
        &:nth-child(3) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 4.2s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate JAVASCRIPT_animation ease-in 4.2s;
        }
        &:nth-child(4) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 4.4s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate REACT_animation ease-in 4.4s;
        }
        &:nth-child(5) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 4.6s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate NEXTJS_animation ease-in 4.6s;
        }
        &:nth-child(6) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 4.8s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate NODEDJ_animation ease-in 4.8s;
        }
        &:nth-child(7) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 5s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate SASS_animation ease-in 5s;
        }
        &:nth-child(8) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 5.2s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate STRAPI_animation ease-in 5.2s;
        }
        &:nth-child(9) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 5.4s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate POSTMAN_animation ease-in 5.4s;
        }
        &:nth-child(10) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 5.6s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate MONGODB_animation ease-in 5.6s;
        }
        &:nth-child(11) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 5.8s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate GIT_animation ease-in 5.8s;
        }
        &:nth-child(12) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 6s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate LINUX_animation ease-in 6s;
        }
        &:nth-child(13) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 6.2s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate NGINX_animation ease-in 6.2s;
        }
        &:nth-child(14) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 6.4s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate DNS_animation ease-in 6.4s;
        }
        &:nth-child(15) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 6.6s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate SSL_animation ease-in 6.6s;
        }
        &:nth-child(16) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 6.8s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate VSCODE_animation ease-in 6.8s;
        }
        &:nth-child(17) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 7s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate FIGMA_animation ease-in 7s;
        }
        &:nth-child(18) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 7.2s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate SLACK_animation ease-in 7.2s;
        }
        &:nth-child(19) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 7.4s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate ILLUSTRATOR_animation ease-in 7.4s;
        }
        &:nth-child(20) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 7.6s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate SCRUM_animation ease-in 7.6s;
        }
        &:nth-child(21) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 7.8s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate TRELLO_animation ease-in 7.8s;
        }
        &:nth-child(22) {
            animation: 10ms forwards alternate Opacity_0to1 ease-in 8s,
                2s forwards alternate Scale1to05 ease-in 4s,
                2s forwards alternate JIRA_animation ease-in 8s;
        }
    }

    .CubeFaceFront {
        translate: 0 0 0;
        animation: 2s forwards alternate Top ease;
        scale: 1;
        background: v.$box_background_hor;
    }
    .CubeFaceRight {
        rotate: y 90deg;
        translate: 100px 0 0;
        background: v.$box_background_ver;
        animation: 2s forwards alternate ScaleZ ease;
    }
    .CubeFaceBack {
        background: v.$box_background_hor;
        filter: contrast(0.1);
        animation: 2s forwards alternate Bottom ease,
            1.3s forwards alternate Shade_01to07 ease 2.3s;
    }
    .CubeFaceLeft {
        transform: rotateY(-90deg) translateZ(0) translateX(-100px);
        transform-origin: top left 0;
        scale: 0;
        background: v.$box_background_hor;
        filter: v.$start_contrast_cube;
        animation: 2s forwards alternate ScaleX ease,
            2s forwards alternate OpanBox ease-in 2s;
    }
    .CubeFaceTop {
        rotate: x 90deg;
        translate: 0 -100px 0;
        background: v.$box_background_hor;
        filter: contrast(0.7);
        animation: 2s forwards alternate ScaleY ease,
            1.3s forwards alternate Shade_01to07 ease 2.3s;
    }
    .CubeFaceBottom {
        rotate: x -90deg;
        translate: 0 100px 0;
        scale: 0;
        background: v.$box_background_hor;
        filter: contrast(0.7);
        animation: 2s forwards alternate ScaleY ease;
    }
}

@keyframes HTML_animation {
    0% {
        transform: rotateY(20deg) translateX(0);
    }
    1% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(v.$text_horisontal_start + px)
            translateY(v.$text_vertical_start + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes CSS_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(v.$text_horisontal_start + px)
            translateY(calc(v.$text_vertical_start + 50) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes JAVASCRIPT_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(v.$text_horisontal_start + px)
            translateY(calc(v.$text_vertical_start + 100) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes REACT_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(v.$text_horisontal_start + px)
            translateY(calc(v.$text_vertical_start + 150) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes NEXTJS_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(v.$text_horisontal_start + px)
            translateY(calc(v.$text_vertical_start + 200) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes NODEDJ_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(v.$text_horisontal_start + px)
            translateY(calc(v.$text_vertical_start + 250) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes SASS_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(v.$text_horisontal_start + px)
            translateY(calc(v.$text_vertical_start + 300) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes STRAPI_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(v.$text_horisontal_start + px)
            translateY(calc(v.$text_vertical_start + 350) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes POSTMAN_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(v.$text_horisontal_start + px)
            translateY(calc(v.$text_vertical_start + 400) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes MONGODB_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(v.$text_horisontal_start + px)
            translateY(calc(v.$text_vertical_start + 450) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes GIT_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(v.$text_vertical_start + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes LINUX_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 50) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes NGINX_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        transform: rotateY(20deg) translateX(0);
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 100) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes DNS_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        transform: rotateY(20deg) translateX(0);
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 150) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes SSL_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        transform: rotateY(20deg) translateX(0);
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 200) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes VSCODE_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        transform: rotateY(20deg) translateX(0);
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 250) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes FIGMA_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        transform: rotateY(20deg) translateX(0);
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 300) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes SLACK_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        transform: rotateY(20deg) translateX(0);
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 350) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes ILLUSTRATOR_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        transform: rotateY(20deg) translateX(0);
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 400) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes SCRUM_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        transform: rotateY(20deg) translateX(0);
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 450) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes TRELLO_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        transform: rotateY(20deg) translateX(0);
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 500) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes JIRA_animation {
    0% {
        opacity: 0;
        transform: rotateY(20deg) translateX(0);
    }
    20% {
        transform: rotateY(20deg) translateX(0);
        scale: 0.5;
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotateX(-5deg) rotateY(0deg)
            translateX(calc(v.$text_horisontal_start - 260) + px)
            translateY(calc(v.$text_vertical_start + 550) + px) translateZ(0);
        scale: 0.5;
    }
}

@keyframes RotateCard {
    0% {
        translate: 0;
        rotate: y 90deg;
    }
    100% {
        translate: -300px -200px 60px;
        rotate: -50 0 -5 45deg;
        scale: 0.5;
    }
}

@keyframes Top {
    from {
        translate: 0 0 0;
    }
    to {
        translate: 0 0 100px;
    }
}

@keyframes Bottom {
    from {
        translate: 0 0 0;
        box-shadow: 20px -1px 10px 0px rgba(0, 0, 0, 0);
    }
    to {
        translate: 0 0 -100px;
        box-shadow: 20px -1px 10px 0px rgba(0, 0, 0, 0.75);
    }
}

@keyframes OpanBox {
    0% {
        transform: rotateY(-90deg) translateZ(0) translateX(-100px) scaley(1.02);
    }
    50% {
        filter: contrast(1);
    }
    75% {
        transform: rotateY(0deg) translateZ(160px) translateX(-3px)
            translateY(-3px);
        box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0);
    }
    100% {
        transform: rotateY(0deg) translateZ(100px) translateX(10px)
            translateY(-10px);
        box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.75);
        background: v.$box_background_hor;
        filter: contrast(1);
    }
}

@keyframes Shade_01to07 {
    from {
        filter: contrast(0.1);
    }
    to {
        filter: contrast(0.7);
    }
}

@keyframes Opacity_0to1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes DoorColor {
    from {
        background: v.$box_background_door;
    }
    to {
        background: v.$box_background_hor;
    }
}

@keyframes Scale1to05 {
    from {
        scale: 1;
    }
    to {
        scale: 0.5;
    }
}

@keyframes ScaleX {
    from {
        scale: 1 1 0;
    }
    to {
        scale: 1 1 1;
    }
}

@keyframes ScaleY {
    from {
        scale: 1 0 1;
    }
    to {
        scale: 1 1 1;
    }
}

@keyframes ScaleZ {
    from {
        scale: 0 1 1;
    }
    to {
        scale: 1 1 1;
    }
}

/* @keyframes HTML_animation {
  0% {
    opacity: 0;
    translate: -10px 0 0;
    rotate: y 90deg;
    animation: 1s forwards alternate Opacity_0to1 ease 2s;
  }
  1% {
    opacity: 1;
  }
  40% {
    rotate: y 45deg;
  }
  60% {
  }
  100% {
    translate: -30vw -15vw 160px;
    rotate: y 220deg;
    scale: 0.5;
    opacity: 1;
  }
} */
