html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button,
input[type='button'] {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: light;
    }
    body {
        background: rgb(5, 5, 5);
        background: linear-gradient(
            90deg,
            rgba(5, 5, 5, 1) 0%,
            rgb(20, 20, 20, 1) 44%,
            rgb(20, 20, 20, 1) 48%,
            rgb(20, 20, 20, 1) 50%,
            rgb(20, 20, 20, 1) 52%,
            rgb(20, 20, 20, 1) 56%,
            rgba(5, 5, 5, 1) 100%
        );
    }
}
